html {
  --black: #202123;
  --grey: #ECECF1;

  --s-1: calc(0.8rem + 0.3vw);
  --s-2: calc(1rem + 0.3vw);
  --s-3: calc(1rem + 0.6vw);
  --s-4: calc(1.3rem + 0.6vw);
  --s-5: calc(1.325rem + 0.9vw);
  --trans-speed: 200ms;

  --bar-height: 50px;
}

