.background {
  background-color: var(--black);
  height: 100vh;
  color: var(--grey);
  width: 100vw;
}

.title {
  display: block;
  font-size: var(--s-4);
  margin: 0 auto;
  padding: 1rem 0;
  width: fit-content;
}

.card {
  background-color: #343541;
  height: 80%;
  margin: 0 30rem 2rem 30rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  overflow: auto;
}

.card::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

.card::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: black;
}

.inputBar {
  position: sticky;
  bottom: 0;
}
